{% extends "wagtailadmin/login.html" %}

{% load i18n wagtailadmin_tags %}
{% load allauth socialaccount %}

{% block below_login %}
    <br>
    <a href="#" class="button button-longrunning">{% trans 'Log in Exercito' %}</a>
  <br />
  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
    <p>{% translate "Please sign in with one of your existing third party accounts:" %}</p>
    <div class="socialaccount_ballot">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
        {% for provider in socialaccount_providers %}
          {% provider_login_url provider process="login" scope=scope auth_params=auth_params as href %}
                      {% element provider name=provider.name provider_id=provider.id href=href %}{% endelement %}
          {% element form method="post" no_visible_fields=True action=href %}
          {% slot actions %}
          {% csrf_token %}
          <button type="submit"
                  class="button button-longrunning"
                  data-controller="w-progress"
                  data-action="w-progress#activate"
                  data-w-progress-active-value="{% trans 'Signing in…' %}">
            {% icon name="spinner" %}
            <em data-w-progress-target="label">Azure AD Exército</em>
          </button>
                              {% element button type="submit" %}{{ provider.name }}{% endelement %}
        {% endslot %}
      {% endelement %}
    {% endfor %}
  {% endif %}
</div>
{% include "socialaccount/snippets/login_extra.html" %}
{% endif %}
{% endblock %}
