{% extends "wagtailadmin/login.html" %}

{% load i18n wagtailadmin_tags %}
{% load allauth socialaccount %}
{% load static %}


{% block branding_login %}Entrar no Gestor de Eventos do CmdPess{% endblock %}


{% block below_login %}
  <br />
  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
    <p>{% translate "Please sign in with one of your existing third party accounts:" %}</p>
    <div class="socialaccount_ballot">
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
        {% for provider in socialaccount_providers %}
          {% provider_login_url provider process="login" scope=scope auth_params=auth_params as href %}
          {% element form method="post" no_visible_fields=True action=href %}
          {% slot actions %}
          {% csrf_token %}
          <button type="submit"
                  class="button button-longrunning"
                  data-controller="w-progress"
                  data-action="w-progress#activate"
                  data-w-progress-active-value="{% trans 'Signing in…' %}">
            {% icon name="spinner" %}
            <em data-w-progress-target="label">Azure AD Exército</em>
          </button>
        {% endslot %}
      {% endelement %}
    {% endfor %}
  {% endif %}
</div>
{% include "socialaccount/snippets/login_extra.html" %}
{% endif %}
{% endblock %}


{% block branding_logo %}
  <div class="login-logo">
    <img src="{% static 'images/cmdpess_logo.png' %}" alt="Logo CmdPess" width="100" />
  </div>
{% endblock %}
